
body{
    margin: 0;
}
.header{
    box-shadow: 0px 10px 10px grey;
    margin: 0px;
    background: linear-gradient(red, yellow);
    height: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.header img{
    margin-left: 20px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
.header span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link{
    font-size: 25px;
    padding-left:700px;
    letter-spacing: 2px;
    text-align: left;
    margin:150px;
    
}
.link a{
    
    margin-bottom: 10px;
}
.header a{
    color: white;
    text-decoration: none;
}

.main img{
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
}
.main img:hover{
    box-shadow:  0 0 50px;
}

.main{
    border: 5px dotted blue;
    margin: 15px;
}

.footer{
background-color: black;
width: 100%;
bottom: 0;
left: 0;
}

.footer img{
    width: auto;
    height: 150px;
    border-radius: 80px;
    padding: 25px;
    

}

.footer span{
    padding-left: 500px;
    padding-top: 150px;
    color: white;
    position: absolute;
}

.footer pre{
    position: absolute;
    color: white;
}